/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-6d830c27-ofdr5x7a version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-c792e424-kldrl5an .style-6d830c27-ofdr5x7a  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 1320px;
						
						padding-right: 0px;
						
						margin-top: 50px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 50px;
						
						background-color: rgba(255, 255, 255, 0);
						
						border-color: rgba(253, 253, 253, 0.53);
						
						padding-left: 0px;
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ofdr5x7a .item-content:not(.blocks_layout)  {
		
						background-color: rgb(27, 73, 190);
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ofdr5x7a .preview-divider  {
		
						width: 100%;
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ofdr5x7a .inner-pic  {
		
						color: rgb(255, 255, 255);
						
						opacity: 1;
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ofdr5x7a .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ofdr5x7a .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ofdr5x7a.master.item-box   {
		
						background-color: rgb(237, 237, 237);
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ofdr5x7a .preview-title  ,  .style-c792e424-kldrl5an .style-6d830c27-ofdr5x7a .preview-body h1  { 
						font-family: Arimo;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: -0.05em;
						
						font-weight: bold;
						
						margin-top: 10px;
						
						margin-bottom: 5px;
						
						line-height: 1.2em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ofdr5x7a.master.item-box   {
		
						padding-left: 0%;
						
						width: 100%;
						
						padding-right: 0%;
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ofdr5x7a .preview-item-links span  ,  .style-c792e424-kldrl5an .style-6d830c27-ofdr5x7a #sr-basket-widget *  { 
						border-width: 2px;
						font-size:calc( 10px + ( 10rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						padding-right: 20px;
						
						margin-top: 5px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ofdr5x7a .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ofdr5x7a .preview-element.icon-source  {
		
						width: 660px;
						
						margin-bottom: 15px;
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ofdr5x7a .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ofdr5x7a .preview-link-img  {
		
						width: 24px;
						
						margin: 16px;
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ofdr5x7a .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ofdr5x7a  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ofdr5x7a .preview-item-links span:hover  ,  .style-c792e424-kldrl5an .style-6d830c27-ofdr5x7a .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ofdr5x7a .inner-pic-holder  {
		
						background-color: rgb(141, 141, 141);
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ofdr5x7a .preview-body  {
		
						font-family: HelveNueThinNormal;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(126, 126, 126);
						
						letter-spacing: 0.05em;
						
						max-width: 600px;
						
						margin-top: 30px;
						
						margin-bottom: 20px;
						
						line-height: 1.4em;
							
		}
	
	 .style-c792e424-kldrl5an .style-6d830c27-ofdr5x7a .preview-social-holder  {
		
						margin-bottom: 15px;
						
						margin-top: 10px;
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ofdr5x7a .middle_layout .helper-div  ,  .style-c792e424-kldrl5an .style-6d830c27-ofdr5x7a .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 2000px;
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ofdr5x7a .preview-subtitle  ,  .style-c792e424-kldrl5an .style-6d830c27-ofdr5x7a .preview-body h2  { 
						line-height: 1.1em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: -0.0em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						font-family: Abel;
						
						background-color: rgba(0, 0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-6d830c27-ofdr5x7a #vbid-6d830c27-38pkwfmk .preview-content-holder{
				
							text-align : center;
					
				}


 .style-6d830c27-ofdr5x7a #vbid-6d830c27-cccmmu7s.inner-pic{
				
							background-size : 37%;
					
				}











 .style-6d830c27-ofdr5x7a #vbid-6d830c27-38pkwfmk .preview-content-wrapper{
				
							text-align : center;
					
				}










/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-6d830c27-akddbsak version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-c792e424-kldrl5an .style-6d830c27-akddbsak .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-akddbsak .Subtitle  ,  .style-c792e424-kldrl5an .style-6d830c27-akddbsak .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-akddbsak .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-akddbsak .Title  ,  .style-c792e424-kldrl5an .style-6d830c27-akddbsak .Body h1  { font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-akddbsak .link-wrapper  {
		
						max-width: 1058px;
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-akddbsak .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	
	 .style-c792e424-kldrl5an .style-6d830c27-akddbsak .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-akddbsak .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-akddbsak .item-links span  {
		
						border-width: 1px;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						font-family: Arial;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-akddbsak .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-akddbsak .body-wrapper  {
		
						max-width: 1032px;
							
		}
	 .style-6d830c27-akddbsak.master.container > #children  {
		
						background-color: rgb(255, 255, 255);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						font-family: Arial;
				
						letter-spacing: 0.05em;
				
						line-height: 1.2em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: Abel;
				
						letter-spacing: 0.15em;
					
		}
	
	
	
			  .header-box + .master.item-box.fill-height , 
			  #menu-placeholder + .master.item-box.fill-height { 
						min-height: calc(100vh - 103px)!important;
					
		}
	
	
	
			body    {
		
						background-color: rgb(255, 255, 255);
					
		}
	
	
	
			#xprs.in-editor  .header-box + .control-handle + .master.item-box.fill-height , 
			#xprs.in-editor  #menu-placeholder + .control-handle + .master.item-box.fill-height { 
						min-height: calc(100vh - 153px)!important;
					
		}/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-6d830c27-ubat0wmj version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-c792e424-kldrl5an .style-6d830c27-ubat0wmj.master.item-box   {
		
						position: relative;
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ubat0wmj .preview-item-links span:hover  ,  .style-c792e424-kldrl5an .style-6d830c27-ubat0wmj .preview-element.Link.hover-tester  { 
						color: rgb(85, 121, 114);
						
						background-color: rgba(147, 147, 147, 0);
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ubat0wmj .preview-item-links  {
		
						text-align: center;
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ubat0wmj  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						
						margin-right: 10px;
						
						margin-top: 15px;
						
						margin-left: 10px;
						
						background-color: rgba(0, 0, 0, 0);
						
						text-align: left;
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ubat0wmj .preview-item-links span  ,  .style-c792e424-kldrl5an .style-6d830c27-ubat0wmj #sr-basket-widget *  { 
						line-height: 1.1em;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						padding-right: 10px;
						
						color: rgb(184, 184, 184);
						
						padding-bottom: 5px;
						
						border-color: rgb(246, 246, 246);
						
						letter-spacing: 0.05em;
						
						max-width: 1150px;
						
						font-weight: bold;
						
						padding-left: 10px;
						
						padding-top: 5px;
						
						font-family: Arial;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ubat0wmj .preview-title  ,  .style-c792e424-kldrl5an .style-6d830c27-ubat0wmj .preview-body h1  { font-size:calc( 10px + ( 17rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						font-weight: bold;
						
						margin-top: 5px;
						
						margin-left: 10px;
						
						font-family: Arimo;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ubat0wmj .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ubat0wmj .item-content:not(.blocks_layout)  {
		
						background-color: rgba(244, 203, 74, 0);
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ubat0wmj .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ubat0wmj .stripe-background  {
		
						margin-top: -10px;
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ubat0wmj .preview-element.icon-source  {
		
						width: 40px;
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ubat0wmj  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: left;
							
		}
	 .style-c792e424-kldrl5an .style-6d830c27-ubat0wmj .preview-subtitle  ,  .style-c792e424-kldrl5an .style-6d830c27-ubat0wmj .preview-body h2  { font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(152, 152, 152);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 10px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-5582618c-u4ta6ilj version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .preview.image-cover  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .blocks-preview-divider  {
		
						color: rgb(255, 255, 255);
						
						border-bottom-width: 1px;
						
						margin-top: 10px;
						
						border-color: rgb(255, 255, 255);
						
						width: 40%;
							
		}
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: left;
						
						max-width: 600px;
						
						padding-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 10px;
						
						background-color: rgba(0, 0, 0, 0);
						
						padding-left: 0px;
							
		}
	
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .blocks-preview-subtitle-holder  {
		
						max-width: 800px;
							
		}
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .preview-divider  {
		
						border-bottom-width: 1px;
						
						margin-top: 0px;
						
						width: 10%;
							
		}
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .inner-pic  {
		
						color: rgb(255, 255, 255);
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj #pagination-holder  {
		
						border-width: 1px;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(131, 131, 131);
						
						padding-bottom: 10px;
						
						border-color: rgb(131, 131, 131);
						
						padding-right: 20px;
						
						margin-top: 30px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						margin-bottom: 30px;
						
						font-family: Times New Roman;
							
		}
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .blocks-preview-item-links .Link:hover  {
		
						background-color: rgb(0, 0, 0);
						
						color: rgb(255, 255, 255);
							
		}
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .background-div  {
			
		}
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj.master.item-box   {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .preview-title  ,  .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .preview-body h1  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-top: 10px;
						
						margin-bottom: 5px;
						
						line-height: 1.3em;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .preview-item-links span  ,  .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj #sr-basket-widget *  { 
						border-width: 1px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 10px;
						
						padding-left: 15px;
						
						border-radius: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 15px;
						
						font-family: Raleway;
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .blocks-preview-body  {
		
						margin-top: 10px;
						
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						margin-bottom: 10px;
						
						line-height: 1.5em;
							
		}
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .stripe-background  {
		
						opacity: 0.4;
						
		    			-webkit-filter: grayscale(100%) brightness(0.8);
						margin-top: -70px;
						
						margin-left: -6%;
							
		}
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .preview-element.icon-source  {
		
						margin-left: 20px;
						
						width: 40px;
							
		}
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .blocks-preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						padding-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 0px;
						
						padding-left: 0px;
							
		}
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .blocks-preview-subtitle  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Raleway;
							
		}
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .preview-icon-holder  {
		
						text-align: left;
							
		}
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj  .preview-content-wrapper  {
		
						vertical-align: middle;
						
						text-align: left;
							
		}
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .preview-price  {
		
						color: rgb(248, 248, 248);
						
						font-family: Arial;
							
		}
	
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .blocks-preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .preview-item-links span:hover  ,  .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .preview-item-links span:before  ,  .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .blocks-preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .blocks-preview-title  {
		font-size:calc( 10px + ( 20rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.0em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
							
		}
	
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .blocks-preview-icon-holder .icon-source  {
		
						width: 50px;
							
		}
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 400px;
						
						margin-top: 5px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .blocks-preview-item-links .Link  {
		font-size:calc( 10px + ( 15rem - 10rem ) );
						padding-bottom: 5px;
						
						padding-right: 5px;
						
						margin-top: 10px;
						
						padding-left: 5px;
						
						border-radius: 17px;
						
						padding-top: 5px;
						
						margin-bottom: 10px;
						
						border-width: 2px;
							
		}
	 .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .preview-subtitle  ,  .style-c792e424-kldrl5an .style-5582618c-u4ta6ilj .preview-body h2  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(128, 128, 128);
						
						letter-spacing: 0.0em;
						
						margin-right: 0px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
						
						background-color: rgba(255, 255, 255, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






































/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-c792e424-kldrl5an version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .master .style-c792e424-kldrl5an .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .master .style-c792e424-kldrl5an .Subtitle  ,  .master .style-c792e424-kldrl5an .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .master .style-c792e424-kldrl5an .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .master .style-c792e424-kldrl5an .Title  ,  .master .style-c792e424-kldrl5an .Body h1  { font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .master .style-c792e424-kldrl5an .link-wrapper  {
		
						max-width: 1058px;
							
		}
	 .master .style-c792e424-kldrl5an .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	 .master .style-c792e424-kldrl5an .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-c792e424-kldrl5an .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .master .style-c792e424-kldrl5an .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-c792e424-kldrl5an .item-links span  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						border-width: 1px;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	
	 .master .style-c792e424-kldrl5an .body-wrapper  {
		
						max-width: 1032px;
							
		}
	 .style-c792e424-kldrl5an.master.container > #children  {
		
						background-color: rgb(255, 255, 255);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-b3e6bf42-rws1bobn version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: left;
						
						max-width: 750px;
						
						padding-right: 0px;
						
						margin-top: 50px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 50px;
						
						background-color: rgba(230, 210, 80, 0);
						
						padding-left: 0px;
							
		}
	 .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn .item-content:not(.blocks_layout)  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn .preview-divider  {
		
						border-style: solid;
						
						border-color: rgb(255, 255, 255);
						
						border-bottom-width: 1px;
						
						margin-top: 20px;
						
						margin-bottom: 20px;
						
						width: 15%;
							
		}
	 .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn .inner-pic  {
		
						opacity: 0.2;
						
						color: rgb(255, 255, 255);
						
		    			-webkit-filter: brightness(0.8);	
		}
	 .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn .preview-subtitle-holder  {
		
						max-width: 650px;
							
		}
	 .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn .background-div  {
			
		}
	 .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn .preview-title  ,  .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn .preview-body h1  { 
						line-height: 0.9em;
						font-size:calc( 10px + ( 60rem - 10rem ) );
						color: rgb(198, 187, 161);
						
						letter-spacing: 0.05em;
						
						margin-top: 10px;
						
						margin-bottom: 0px;
						
						font-family: Abel;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn .preview-item-links span  ,  .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn #sr-basket-widget *  { 
						border-width: 0px;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 15px;
						
						border-color: rgba(0, 0, 0, 0);
						
						letter-spacing: 0.1em;
						
						padding-right: 30px;
						
						margin-top: 20px;
						
						padding-left: 30px;
						
						border-radius: 22px;
						
						padding-top: 15px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
						
						background-color: rgb(161, 161, 161);
							
		}
	 .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn .stripe-background  {
		
						opacity: 0.61;
							
		}
	 .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn .preview-element.icon-source  {
		
						margin-bottom: 15px;
						
						width: 90px;
							
		}
	 .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn .background-image-div  {
		
						color: rgb(255, 255, 255);
						
						opacity: 1;
							
		}
	 .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn .preview-link-img  {
		
						width: 30px;
						
						margin: 8px;
							
		}
	 .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn .preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn  .preview-content-wrapper  {
		
						text-align: left;
						
						vertical-align: bottom;
							
		}
	 .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn .preview-item-links span:hover  ,  .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(198, 187, 161);
							
		}
	 .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn .inner-pic-holder  {
		
						background-color: rgb(85, 121, 114);
							
		}
	 .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn .preview-item-links span:before  ,  .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn .effect-tester  { 
						background-color: rgb(198, 187, 161);
							
		}
	 .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						max-width: 1000px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn .preview-social-holder  {
		
						margin-top: 20px;
							
		}
	 .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn .middle_layout .helper-div  ,  .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn .preview-subtitle  ,  .style-c792e424-kldrl5an .style-b3e6bf42-rws1bobn .preview-body h2  { 
						font-family: 'Raleway Thin';
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.25em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						line-height: 0.8em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-b3e6bf42-rws1bobn #vbid-b3e6bf42-piwtiamq .preview-content-holder{
				
							text-align : left;
					
				}


 .style-b3e6bf42-rws1bobn #vbid-b3e6bf42-fjkbavc8.inner-pic{
				
							background-position : 48.2968368530273% 17.8304233551025%;
					
				} .style-b3e6bf42-rws1bobn #vbid-b3e6bf42-3yofqg4b.inner-pic{
				
							background-size : cover;
					
							background-position : 31.5622% 47.7852%;
					
				} .style-b3e6bf42-rws1bobn #vbid-b3e6bf42-d5tlusyn.inner-pic{
				
							background-position : 47.0449% 12.9383%;
					
				} .style-b3e6bf42-rws1bobn #vbid-b3e6bf42-sooalmnf.inner-pic{
				
							background-size : contain;
					
							background-position : 50% 50%;
					
				} .style-b3e6bf42-rws1bobn #vbid-b3e6bf42-6rm9wtxn.inner-pic{
				
							background-position : 40.6865% 31.5728%;
					
				} .style-b3e6bf42-rws1bobn #vbid-b3e6bf42-opyyiad4.inner-pic{
				
							background-size : cover;
					
							background-position : 29% 19%;
					
				} .style-b3e6bf42-rws1bobn #vbid-b3e6bf42-vaskafsp.inner-pic{
				
							background-size : 143%;
					
				} .style-b3e6bf42-rws1bobn #vbid-b3e6bf42-fshss1r4.inner-pic{
				
							background-position : 52.1944% 29.9296%, 52.1944% 29.9296%;
					
				}













 .style-b3e6bf42-rws1bobn #vbid-b3e6bf42-piwtiamq .preview-content-wrapper{
				
							text-align : left;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
